<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ff23e77d-8963-456b-ac99-f259bf6ffb63/resourceGroups/azure-learn/providers/Microsoft.Web/sites/azpoc2022</ResourceId>
    <ResourceGroup>azure-learn</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://azpoc2022.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>694d28f1-4c31-40f4-916b-847407e7809d</ProjectGuid>
    <PublishUrl>https://azpoc2022.scm.azurewebsites.net/</PublishUrl>
    <UserName>$azpoc2022</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>